.mapa img {
    width: 100%;
    border-radius: 8px;
}

.datos {
    margin-top: 20px;
}

.datos ul {
    list-style-type: none;
    padding: 0;
}

.datos ul li {
    margin-bottom: 10px;
}
.redes-sociales {
    margin-top: 20px;
}

.redes-sociales ul {
    list-style-type: none;
    padding: 0;
}

.redes-sociales ul li {
    margin-bottom: 10px;
}
