footer {
    background-color: #666;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    grid-area: footer;
}

footer .redes-sociales, footer .datos-tienda {
    display: inline-block;
    text-align: left;
    width: 45%;
    margin: 0 2%;
    vertical-align: top;
}

footer h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}